* {
	padding:0;
margin:0;
box-sizing:border-box;
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
html{
	 scroll-behavior:smooth;
 }
body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size:14px;
	 height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
}
a {
	text-decoration:none;
}
.header-sec {
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://max-themes.net/demos/income/upload/financial/shot-of-thinking-financial-advisor-businessman-DFY4E3Q.jpg");
	/* background-image:url("https://max-themes.net/demos/income/upload/financial/shot-of-thinking-financial-advisor-businessman-DFY4E3Q.jpg"); */
    background-position: center center;
    background-size: cover;
	height:100vh;
	position:relative;
}

.header-top {
	display:flex;
	justify-content:space-between;
	padding:20px;
border-bottom:0.1px solid #fff;
}
.header-text {
	margin-left:3rem;
	color:#d5d5d5;
	font-weight:600;
	font-size:1rem;
}
.header-text span {
	margin-left:0.5rem;
	color:#fff;
	font-size:1rem;
}

.header-contact a {
	padding:0 1rem;
	text-decoration:none;
	color:#fff;
	font-size:0.8rem;
}
.header-logo {
	width:12%;
}
.header-logo img {
	width:100%;	
}
.navmenu {
	width:20%;
}
.navmenu ul {
	display:flex;
	list-style-type:none;
	margin-left:2rem;
	font-size:1rem;
}
.navmenu ul li a {
	
	text-decoration:none;
	padding-left:1rem;
	color:#fff;
}
.header-row {
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.social-links a {
	color:#fff;
	padding-left:20px;
}
.header-content {
	padding:10rem;	
	transition:all 1s;
}
.active-content{
	display:none;
}
.header-content p {
	color:#fff;
	margin-bottom:1rem;
	font-size:0.9rem;
	font-weight:700;
}
.header-content h2 {
	color:#fff;
	font-size:2.5rem;
	line-height:1.4;
	font-weight:700;
}
.header-content span.auto-type {
	color:#fff;
	font-size:2.5rem;
}
.header-burger i {
	font-size:1.1rem;
	color:#fff;
	display:none;
}

nav ul.active {
  left:0vw;
}


/* .text { */
	/* position:relative; */
/* } */

/* .scnd-txt::before { */
	/* content:""; */
	/* position:absolute; */
	/* top:0; */
	/* left:0; */
	/* border-left:1px solid #fff; */
	 /* background-color:#171b24;  */
	/* height:100%; */
	/* width:100%; */
	/* animation:typing 6s steps(11) infinite; */
/* } */
/* @keyframes typing { */
	/* 40%,60% { */
		/* left:100%; */
	/* } */
	/* 100% { */
		/* left:0%; */
	/* } */
/* } */

/* Mobile view */
@media (min-width:320px) and (max-width:670px) {
	.header-container{
		position:relative;
	}
	.header-top 
	{
		display:none;
	}
	.header-row {
	display: flex;
    padding-top: 2rem;
    padding-left: 1rem;
    justify-content: space-between;
	}
	li {
		padding-top:5px;
	}

	.navmenu ul {
		background-color:#1c212d;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
		position:absolute;
		top:100px;
		left:-120vw;
		height:70vh;
		transition:all 1s;
		width:80vw;
		
    }
	
	.header-links {
		display:none;
	}
	.header-logo {
		width:40%;
		margin-left:2rem;
	}
	.header-content{
		 padding: 10rem 1rem 0 1rem;
		 transition:all 1s;
	}
	.header-burger i {
    margin-right: 2rem;
    font-size: 1.1rem;
    color: #fff;
    display: block;
}
}
/* Tab view */
@media (max-width:980px) and (min-width:670px)  {
	
	.header-top {
	display:flex;
	justify-content:space-between;
	padding:20px;
border-bottom:0.1px solid #fff;
}
i.fa-solid.fa-phone {
    margin-left: 50px;
}
i.fa-regular.fa-envelope {
    margin-left: 50px;
}
	.header-row {
		display: flex;
    padding-top: 2rem;
    padding-left: 1rem;
    justify-content: space-between;
	}
	
	li {
		padding-top:10px;
	}
	
	.navmenu ul {
		background-color:#1c212d;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
		position:absolute;
		top:250px;
		left:-120vw;
		height:70vh;
		transition:all 1s;
		width:80vw;
    }
	.header-links {
		display:none;
	}
	.header-logo {
		width:30%;
		margin-left:2rem;
	}
	.header-content{
		 padding: 10rem 1rem 0 1rem;
		 transition:all 1s;
	}
	.header-burger i {
	margin-right: 2rem;
    font-size: 1.1rem;
    color: #fff;
    display: block;
}
}











.service-sec{
	background-color:#00172d;
	padding:1rem;
	position:relative;
}
.service-container{
	width:90%;
	margin:auto;
}
.service-title {
	padding-top:6rem;
	padding-bottom:10rem;
	display:flex;
	gap:2%;

}
.service-left {
	width:60%;
	order:1;
}
.service-right {
	width:40%;
	margin-left:1rem;
	order:2;
}
.service-left p {
	font-size:1.2rem;
	color:#fff;
}
.service-right h2 {
	font-size:1.7rem;
	font-weight:700;
	color:#fff;
}
.service-row{
	display:flex;
	gap:3%;
	position:absolute;
	top:62%;
	margin-right:5rem;
}
.service-col {
	width:33.3%;
}
.service-item {
	width:100%;
	position:relative;
}
.service-item img {
	width:100%;
}
.service-data {
    box-shadow: 2px 2px 3px;
    bottom: -35px;
    right: 19%;
    position: absolute;
    left: 20%;
}
.service-data h2 {
	
	text-align:center;
	background-color:#fff;
	padding:0.5rem;
	
	color:#002e5a;
}

/* Mobileview */
@media(max-width:670px){
	.service-sec{
	background-color:#00172d;
	padding:1rem;

}
	.service-title {
	padding-top:6rem;
	padding-bottom:9rem;
	display:flex;
	flex-wrap:wrap;
	

}
.service-left {
	width:100%;
	order:2;
	margin-top:2rem;
}
.service-right {
	width:100%;
	margin-left:0rem;
	order:1;
}
.service-row{
	display:flex;
	flex-wrap:wrap;
	gap:3%;
	margin-top:7rem;
	margin-right:2rem;
}
.service-col {
	width:100%;
	margin:2rem 0;
}
}












.about-sec{
  margin-top:10rem;
margin-bottom:2rem;  
}
.about-container {
	width:90%;
	margin:auto;
	padding:3rem;
}
.about-row {
	display:flex;
	gap:2%;
}
.about-col {
	width:50%;
	padding:0rem;
	margin-right:1rem;
}
.about-col-pic {
	width:50%;
	display:flex;
	gap:4%;
	
}
.about-pic {
	width:50%;
}
.about-pic img {
	width:100%;
}
.about-col h2 {
	color:#002e5a;
    font-size:1.8rem;
    font-weight:600;
    line-height:1.3;
	
}
.about-col p {
	color:#444;
    font-size:0.9rem;
    font-weight:400;
    line-height:1.5;
	
}
p.one {
	margin-top:3rem;
}
.about-img {
	width:30%;
	margin-top:1.5rem;
}
.about-img img {
	width:100%;
	margin-top:2rem;
}


/* Mobile View */

@media (max-width:670px){
	.about-sec{
  margin-top:49rem;
margin-bottom:2rem;  
}
	.about-container {
	padding:0rem;
}
	.about-row {
	display:flex;
	flex-direction:column;
}
	.about-col {
	width:100%;
	padding:0rem;
	margin-right:2rem;
}
.about-col-pic {
	width:100%;
	display:flex;
	flex-direction:column;
	margin-top:2rem;
}
.about-pic {
	width:100%;
	padding:1rem;
}
}
/* Tab View */
@media (max-width:980px) and (min-width:670px)  {
	.about-row {
    align-items: center;
    
}
}









.clients-count-sec {
	background-image:url("https://max-themes.net/demos/income/upload/financial/businessman-on-bed-working-with-a-laptop-from-his-PBFQSLM.jpg");
	background-position: center center;
    background-size:cover;
	height:100vh;
}
.clients-count-container{
	width:80%;
	margin:auto;
	padding-top:80px;
}
.clients-count-title  {
	width:50%;
	padding-top:80px;
	padding-top:30px;
}
.clients-count-title h1 {
	color: #002e5a;
    font-size:2rem;
    font-weight:900;
    line-height:1.2em;
	font-family: 'Raleway', sans-serif;
	margin-bottom:3rem;
	word-spacing:3px;
}
.clients-count-title p {
	color: #444;
    font-size:1.1rem;
    font-weight:500;
    line-height:1.5;
	font-family: 'Raleway', sans-serif;
	margin-bottom:3rem;
}
.clients-number {
	display:flex;
	gap:7%;
	padding-top:40px;
}

.clients-number-left p.number, .clients-number-right p.number  {
	color: #002e5a;
    font-size:3rem;
	font-weight:900;
	text-align:center;
	
}
.clients-number-left p, .clients-number-right p{
	color:#002e5ab3;
	font-size:1.5rem;
	font-weight:900;
	line-height:1;
	text-align:center;
	
}


@media (max-width:670px) {
	.clients-count-sec {
	height:120vh;
	
}
	.clients-count-title  {
	width:100%;
	padding-top:7rem;
	padding-top:30px;
}
.clients-number {
	display:flex;
	flex-direction:column;
}

.clients-number-left p, .clients-number-right p{
	text-align:center;
	margin:1rem 0;	
}
}
/* Tab View */
@media (max-width:980px) and (min-width:670px)  {
	.clients-count-title p {
    color: #444;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3rem;
}
.clients-number-left p, .clients-number-right p {
    
    font-size: 1.5rem;
    
}
}

















.testimonial-sec{
	background-color:#f3f3f3;
	
}
.testimonial-container {
	width:90%;
	margin:auto;
}
.testimonial-title {
	padding-top:5rem;
	text-align:center;
}
.testimonial-title h2 {
	color:#002e5a;
    font-size:2rem;
    line-height:1.2;
	margin-bottom:4rem;
	font-weight:500;
}
.testimonial-title p {
	color:#444;
    font-size:0.9rem;
    line-height:1.2;	
}
.testimonial-col {
	padding:2.5rem 1rem;
	background-color:#fff;
    border-color:#ffffff;
	margin:2rem 0;
}
.testimonial-heading {
	display:flex;
}
.testimonial-author {
	width:75%;
}
.testimonial-img {
	width:25%;
}
.testimonial-img img {
	width:100%;
}
.testimonial-heading h3 {
	color:#002e5a;
	font-weight:500;
	font-size:1.4rem;
	margin-bottom:0.7rem;
}

.testimonial-heading p {
	color:#cca876;
	font-weight:900;
	font-size:1rem;
}
.testimonial-pic img {
	border-radius:50%;
}
.testimonial-data {
	margin-top:1rem;
	line-height:1.4;
	font-size:0.9rem;
	word-spacing:2px;
}











.teams-sec{
	margin-bottom:9rem;
}
.teams-container {
	width:80%;
	margin:auto;
}
.teams-title{
	align-items:center;
	display:flex;
	gap:10%;
	margin-top:5rem;
	margin-bottom:1rem;
}
.teams-heading {
	width:30%;
	margin-left:0rem;
}
.teams-data{
	width:70%;
	margin-right:4.5rem;
}
.teams-heading h3 {
	color: #222;
    font-family: 'Roboto', sans-serif;
	font-size:2rem;
	font-weight:700;
}
.teams-data h4{
	font-size:1.3rem;
	line-height:1.4;
	color:#444;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	margin-bottom:2rem;
}
.teams-data h6{
	font-size:0.9rem;
	line-height:1.2;
	color:#444;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	margin-bottom:0rem;
	word-spacing:2px;
}

.teams-row{
	
}
.teams-col {
	display:flex;
	gap:5%;
	margin-top:4rem;
}
.teams-col1 {
	display:flex;
	gap:6%;
	margin-top:4rem;
}

.teams-col-left {
	width:65%
}
.teams-col-right {
	width:35%;
}
.teams-col-left1{
	width:50%;
	text-align:right;
	order:1;
}
.teams-col-right1{
	width:50%;
	order:2;
}
.teams-pic{
	width:100%;
	box-shadow:0px 25px 25px #e9e9e9;
}
.teams-pic img {
	width:100%;
}
.teams-name h3 {
	color:#002e5a;
	font-size:1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	margin-bottom:1rem;
}
.teams-designation h4{
	color:#cca876;
	font-size:1rem;
	font-family: 'Roboto', sans-serif;
	margin-top:1.7rem;
	font-weight:700;
}
.teams-info p {
	color:#444;
	font-size:0.9rem;
	font-family: 'Roboto', sans-serif;
	margin-top:2rem;
	margin-bottom:1rem;
	word-spacing:2px;
	line-height:1.5;
}
.teams-sign {
	margin-top:4rem;
	width:50%;
}
.teams-sign img{
	width:100%;
}


/* Mobile View */
@media (max-width:670px){
	.teams-container {
	width:100%;
	margin:auto;
}
.teams-title{
	display:flex;
	flex-direction:column;
}
.teams-heading {
	width:90%;
	padding:1rem;
}
.teams-data{
	width:100%;
	padding:1rem;
}
.teams-col {
	display:flex;
	flex-direction:column;
}
.teams-col-left {
	width:100%;
	padding:12px;
	
}
.teams-col-right {
	width:100%;
	margin-top:1.5rem;
	padding:1rem;
}
.teams-col1 {
	display:flex;
	flex-direction:column;
}
.teams-col-left1 {
	width:100%;
	order:2;
	padding:1rem;
	
}
.teams-col-right1 {
	width:100%;
	margin-top:1.5rem;
	padding:1rem;
	order:1;
}
.teams-data h6,.teams-data h4 {
    margin-left: 3rem;
    
}
}

/* Tab View */
@media (max-width:980px) and (min-width:670px)  {

}







.contact-sec{
	margin-top:5rem;
	background-color:#fff;
	transform: translateZ(0);
	z-index:100;
	
}
.contact-container{
	width:80%;
	margin:auto;
}
.contact-title {
	text-align:center;
	margin:3rem 0;
}
.contact-title h2{
	color:#002e5a;
	font-family: 'Roboto', sans-serif;
	font-size:2rem;
	font-weight:500;
	margin-bottom:2.5rem;
}
.contact-title p{
	color:#444;
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	font-weight:400;
	margin-top:0rem;
	line-height:1.2;
}
.contact-col{
	display:flex;
	flex-wrap:wrap;
	
}
.contact-col-left {
	width:50%;
}
.contact-col-right {
	width:50%;
	padding:0 0 0 20px;
}
.contact-img {
	width:100%;
}
.contact-img img {
	width:100%;
}
.contact-form {
	display:flex;
	flex-direction:column;
}
.form-name ,.form-mail{
	padding:0.6rem;
    font-family: 'Roboto', sans-serif;
    border-radius:5px;
    background: #fff;
    border: 1px solid #222222;
    outline:none;
	width:100%;
	margin-bottom:1rem;
	font-size:0.8rem;
	font-weight:600;
}
.form-msg {
	font-family: 'Roboto', sans-serif;
	width:100%;
	resize:none;
	padding:12px;
	border-radius:4px;
	border: 1px solid #222222;
    margin-bottom: 10px;
	font-size:0.8rem;
	font-weight:800;
}
.contact-submit {
	margin-top:1rem;
	
}
.contact-sbt-btn {
	
    text-align:center;
    text-decoration:none;
    padding:0.4em 2.5em 0.4em 2.5em;
    color:#fff;
    background:#222;
    border: 2px solid #222;
    font-size:1rem;
     font-family: 'Roboto', sans-serif;
     border-radius:4px;
    
}


/* Mobile View */
@media (max-width:670px){
	.contact-container {
	width:90%;
	margin:auto;
}

.contact-col-left {
	width:100%;
	margin-bottom:1.5rem;
}
.contact-col-right {
	width:100%;
	margin-top:1.5rem;
	padding:0px;
}}
/* Tab View */
@media (max-width:980px) and (min-width:670px)  {
	.contact-col {
    align-items: center;
    
}
}






.footer-sec {
	background-color:#222;
	margin-top:3rem;
	display:table;
	width:100%;
background-attachment:fixed; 	
			
	
}
.footer-container {
	width:100%;
	margin:auto;
	
}
.footer-top {
	display:flex;
	padding-top:3rem;
	padding-left:5rem;
}
.footer-details {
	width:25%;
	margin-bottom:3rem;
}

div.footer-address {
	width:35%;
}
.footer-logo {
	width:20%;
}
.footer-img img  {
	width:50%;
	margin-top:1rem;
}
.footer-details h2 {
	font-size:1rem;
	font-weight:800;
	color:#fff;
	line-height:1;
	margin-top:1rem;
}
.footer-details p {
	font-size:0.9rem;
	font-weight:500;
	color:#9b9b9b;
	line-height:1.2;
	margin:2rem 0;
}
.footer-details h1 {
	font-size:2rem;
	font-weight:700;
	color:#9b9b9b;
}
.footer-details h1 span {
	font-size:2rem;
	font-weight:700;
	color:#fff;
}
.footer-details h3 {
	font-size:1rem;
	font-weight:600;
	color:#fff;
	margin-top:2rem;
}
.footer-address p {
	color:#9b9b9b;
	margin:0.5rem  0;
	line-height:1.3;
}
.footer-links {
	margin-top:2rem;
}
.social-links a {
	color:#fff;
	font-size:1.1rem;
	padding-left:1rem;
}
.footer-bottom {
	display:flex;
	justify-content:space-between;
	border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #333333;
	padding-top:1rem;
}
.footer-bottom-left {
	color:#9b9b9b;
	font-size:0.9rem;
	margin-bottom:3rem;
	padding-left:5rem;
}
.footer-bottom-right {
	margin-right:3rem;
}
.footer-bottom-right a {
	color:#fff;
	text-decoration:none;
	font-size:0.9rem;
	padding-left:0.5rem;
	margin-bottom:3rem;
}
/* Mobile View */
@media (max-width:670px) {
	
	.footer-top {
	display:flex;
	padding-top:0rem;
	padding-left:1rem;
	flex-wrap:wrap;
}
	.footer-details {
	width:50%;
}
.footer-address {
	width:100%;
}
.footer-bottom-left {
	padding-left:0rem;
}
.footer-logo{
	width:auto;
}
div.footer-address {
	width:100%;
}
}
/* Tab View */
@media (max-width:980px) and (min-width:670px)  {
	.footer-top {
    flex-wrap: wrap;
    display: flex;
    padding-top: 3rem;
    padding-left: 5rem;
}
.footer-logo {
    width: 25%;
}
.footer-details {
    width: 37%;
    margin-bottom: 3rem;
}
div.footer-address {
    margin-left: 12rem;
    width: 35%;
}
}






.back-to-top {
  position: fixed;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  background:#e0e0e0;
  padding:13px 14px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size:16px;
  color: #fff;
  line-height:1;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}



